<p>Hello User:</p>

<p>You are receiving this email because you (or someone else) have requested the reset of a password.</p>
<p>Your new password is: <strong>{{password}}</strong></p>
<p>Please log in and change your password immediately.</p>